In [96]:
import numpy as np
import pandas as pd

In [97]:
a=pd.read_excel('/content/campaign_data_knovista_project.xlsx')
a

,Campaign,Total Leads,Sales,Conversion Rate (%),Cost per Lead,Total Cost
0,PY | KL | Fee included 2,60,6,10.00,68.62,4117.20
1,DA | KL | No monitory benefit 13,173,3,1.73,47.97,8298.81
2,PY | KL | Hiring,65,0,0.00,55.63,3615.95
3,PY | KL | Fee included,231,11,4.76,41.15,9505.65
4,DA | KL | Hiring,294,11,3.74,28.06,8249.64
...,...,...,...,...,...,...
5995,BA-Hiring 1,137,9,6.57,20.12,2756.44
5996,PY | KL | Hiring | Sep 18,165,6,3.64,22.49,3710.85
5997,PY | KL | Hiring | Sep 9,218,16,7.34,39.44,8597.92
5998,PY | KL | Hiring | Sep 9,198,13,6.57,35.23,6975.54
5999,DA | KL | No monitory benefit 24,260,5,1.92,25.70,6682.00

In [98]:
a.shape

(6000, 6)

In [99]:
a.size

36000

In [100]:
a.head()

,Campaign,Total Leads,Sales,Conversion Rate (%),Cost per Lead,Total Cost
0,PY | KL | Fee included 2,60,6,10.00,68.62,4117.20
1,DA | KL | No monitory benefit 13,173,3,1.73,47.97,8298.81
2,PY | KL | Hiring,65,0,0.00,55.63,3615.95
3,PY | KL | Fee included,231,11,4.76,41.15,9505.65
4,DA | KL | Hiring,294,11,3.74,28.06,8249.64

In [101]:
a.tail()

,Campaign,Total Leads,Sales,Conversion Rate (%),Cost per Lead,Total Cost
5995,BA-Hiring 1,137,9,6.57,20.12,2756.44
5996,PY | KL | Hiring | Sep 18,165,6,3.64,22.49,3710.85
5997,PY | KL | Hiring | Sep 9,218,16,7.34,39.44,8597.92
5998,PY | KL | Hiring | Sep 9,198,13,6.57,35.23,6975.54
5999,DA | KL | No monitory benefit 24,260,5,1.92,25.70,6682.00

In [102]:
a.dtypes

Campaign                object
Total Leads              int64
Sales                    int64
Conversion Rate (%)    float64
Cost per Lead          float64
Total Cost             float64
dtype: object

In [103]:
a.isna().sum()

Campaign               0
Total Leads            0
Sales                  0
Conversion Rate (%)    0
Cost per Lead          0
Total Cost             0
dtype: int64

In [104]:
x=a.drop('Sales',axis=1)
x

,Campaign,Total Leads,Conversion Rate (%),Cost per Lead,Total Cost
0,PY | KL | Fee included 2,60,10.00,68.62,4117.20
1,DA | KL | No monitory benefit 13,173,1.73,47.97,8298.81
2,PY | KL | Hiring,65,0.00,55.63,3615.95
3,PY | KL | Fee included,231,4.76,41.15,9505.65
4,DA | KL | Hiring,294,3.74,28.06,8249.64
...,...,...,...,...,...
5995,BA-Hiring 1,137,6.57,20.12,2756.44
5996,PY | KL | Hiring | Sep 18,165,3.64,22.49,3710.85
5997,PY | KL | Hiring | Sep 9,218,7.34,39.44,8597.92
5998,PY | KL | Hiring | Sep 9,198,6.57,35.23,6975.54
5999,DA | KL | No monitory benefit 24,260,1.92,25.70,6682.00

In [105]:
y=a['Sales']
y

0        6
1        3
2        0
3       11
4       11
        ..
5995     9
5996     6
5997    16
5998    13
5999     5
Name: Sales, Length: 6000, dtype: int64

In [106]:
x=pd.get_dummies(x)
x

,Total Leads,Conversion Rate (%),Cost per Lead,Total Cost,Campaign_BA | KL | Hiring | Aug 1,Campaign_BA | KL | Hiring | Aug 10,Campaign_BA | KL | Hiring | Aug 11,Campaign_BA | KL | Hiring | Aug 12,Campaign_BA | KL | Hiring | Aug 13,Campaign_BA | KL | Hiring | Aug 14,...,Campaign_PY | KL | Hiring | Sep 28,Campaign_PY | KL | Hiring | Sep 29,Campaign_PY | KL | Hiring | Sep 3,Campaign_PY | KL | Hiring | Sep 30,Campaign_PY | KL | Hiring | Sep 4,Campaign_PY | KL | Hiring | Sep 5,Campaign_PY | KL | Hiring | Sep 6,Campaign_PY | KL | Hiring | Sep 7,Campaign_PY | KL | Hiring | Sep 8,Campaign_PY | KL | Hiring | Sep 9
0,60,10.00,68.62,4117.20,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,173,1.73,47.97,8298.81,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,65,0.00,55.63,3615.95,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,231,4.76,41.15,9505.65,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,294,3.74,28.06,8249.64,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5995,137,6.57,20.12,2756.44,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5996,165,3.64,22.49,3710.85,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5997,218,7.34,39.44,8597.92,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
5998,198,6.57,35.23,6975.54,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
5999,260,1.92,25.70,6682.00,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [107]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)
x_train

,Total Leads,Conversion Rate (%),Cost per Lead,Total Cost,Campaign_BA | KL | Hiring | Aug 1,Campaign_BA | KL | Hiring | Aug 10,Campaign_BA | KL | Hiring | Aug 11,Campaign_BA | KL | Hiring | Aug 12,Campaign_BA | KL | Hiring | Aug 13,Campaign_BA | KL | Hiring | Aug 14,...,Campaign_PY | KL | Hiring | Sep 28,Campaign_PY | KL | Hiring | Sep 29,Campaign_PY | KL | Hiring | Sep 3,Campaign_PY | KL | Hiring | Sep 30,Campaign_PY | KL | Hiring | Sep 4,Campaign_PY | KL | Hiring | Sep 5,Campaign_PY | KL | Hiring | Sep 6,Campaign_PY | KL | Hiring | Sep 7,Campaign_PY | KL | Hiring | Sep 8,Campaign_PY | KL | Hiring | Sep 9
3897,90,10.00,41.57,3741.30,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5628,288,6.60,15.70,4521.60,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1756,73,8.22,32.60,2379.80,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2346,239,1.67,16.11,3850.29,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
2996,246,3.66,7.39,1817.94,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3772,167,8.38,26.57,4437.19,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5191,185,9.19,5.05,934.25,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5226,181,0.55,25.39,4595.59,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5390,191,6.28,43.58,8323.78,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
860,199,3.52,33.19,6604.81,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [108]:
x_test

,Total Leads,Conversion Rate (%),Cost per Lead,Total Cost,Campaign_BA | KL | Hiring | Aug 1,Campaign_BA | KL | Hiring | Aug 10,Campaign_BA | KL | Hiring | Aug 11,Campaign_BA | KL | Hiring | Aug 12,Campaign_BA | KL | Hiring | Aug 13,Campaign_BA | KL | Hiring | Aug 14,...,Campaign_PY | KL | Hiring | Sep 28,Campaign_PY | KL | Hiring | Sep 29,Campaign_PY | KL | Hiring | Sep 3,Campaign_PY | KL | Hiring | Sep 30,Campaign_PY | KL | Hiring | Sep 4,Campaign_PY | KL | Hiring | Sep 5,Campaign_PY | KL | Hiring | Sep 6,Campaign_PY | KL | Hiring | Sep 7,Campaign_PY | KL | Hiring | Sep 8,Campaign_PY | KL | Hiring | Sep 9
1782,256,7.81,23.81,6095.36,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3917,111,0.00,26.26,2914.86,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
221,196,8.16,30.54,5985.84,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2135,74,5.41,44.90,3322.60,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5224,123,0.00,16.15,1986.45,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2543,144,9.03,21.78,3136.32,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1773,108,8.33,13.33,1439.64,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2846,269,4.83,39.60,10652.40,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5799,253,7.51,16.70,4225.10,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1765,195,0.51,20.95,4085.25,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [109]:
y_train

3897     9
5628    19
1756     6
2346     4
2996     9
        ..
3772    14
5191    17
5226     1
5390    12
860      7
Name: Sales, Length: 4800, dtype: int64

In [110]:
y_test

1782    20
3917     0
221     16
2135     4
5224     0
        ..
2543    13
1773     9
2846    13
5799    19
1765     1
Name: Sales, Length: 1200, dtype: int64

In [111]:
from sklearn.ensemble import RandomForestRegressor
model=RandomForestRegressor(n_estimators=100,max_depth=10,min_samples_split=5,random_state=42)
model.fit(x_train,y_train)
y_pred=model.predict(x_test)
y_pred

array([20.03878644,  0.        , 16.0895741 , ..., 12.98508637,
       18.9805418 ,  1.        ])

In [112]:
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score
mae=mean_absolute_error(y_test,y_pred)
rmse=mean_squared_error(y_test,y_pred)
r2=r2_score(y_test,y_pred)
print('mae',mae)
print('mse',rmse)
print('r2',r2)

mae 0.05712067302945546
mse 0.013733712464626851
r2 0.9996913716803464

In [113]:
importance=pd.Series(model.feature_importances_,index=x.columns)
importance.sort_values(ascending=False)
importance.head(10)

Total Leads                           3.495951e-01
Conversion Rate (%)                   6.501352e-01
Cost per Lead                         3.061979e-05
Total Cost                            3.636606e-05
Campaign_BA | KL | Hiring | Aug 1     2.057870e-06
Campaign_BA | KL | Hiring | Aug 10    7.461768e-07
Campaign_BA | KL | Hiring | Aug 11    1.599136e-06
Campaign_BA | KL | Hiring | Aug 12    5.864029e-07
Campaign_BA | KL | Hiring | Aug 13    3.738756e-07
Campaign_BA | KL | Hiring | Aug 14    9.371015e-07
dtype: float64